@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.main-title{
    text-align: center;
}
span{
    color: rgb(78, 78, 212);
}

section{
    background-color: rgb(78, 78, 212);
    color: white;
    line-height: 2;
    padding: 6px 8px;
}

section p {
    margin: 0px;
}

.primeiro-paragrafo{
    margin-bottom: 20px;
}

li{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 10px;
}

footer p {
    margin: 0px;
}