body{
    background-color: #286742;
    color: white;

}

.box{
    width: 400px;
    height: 400px;
    background-color: white;
    opacity: 0.5;
    background-color: rgba(255,255,255,0.5);

}
